body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.50;
    color: #000000;
    text-decoration: none;
    word-spacing: normal;
    text-align: left;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    pointer-events: all;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.column-content {
    height: 90vh;
    background: #e4f1fe;
    text-align: center;
    padding: 0;
    margin: 0;
}

.col-sm {
    padding: 0;
    margin: 0;
}

.col-sm-8 {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

footer {
    height: 10vh;
    background: #333;
    color: white;
}

.inspire-tree li {
    text-align: left;
}

.tree-panel {
    padding: 10px;
    overflow-x: hidden;
    pointer-events: all;
}

#models-list {
    padding: 10px;
}

#issues-list {
    padding: 10px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
    width: 100%;
    height: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    pointer-events: none;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -270px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


body {
    font-family:sans-serif;
}

.fastTree ul {
    list-style:none;
    padding-left:1.75em;
li {
    border-bottom-left-radius:.75em;
    border-top-left-radius:.75em;
    margin:2px 0;
    position:relative;
a {
    background-color:#eee;
    border-radius:50%;
    color:#000;
    display:inline-block;
// font-weight:bold;
    height:1.5em;
    left:-1.5em;
    line-height:1.5em;
    position:absolute;
    text-align:center;
    text-decoration:none;
    width:1.5em;
&.plus {
     background-color:#ded;
 }
&.minus {
     background-color:#eee;
 }
&:active {
     top:1px;
 }
}
span {
    display:inline-block;
    margin:.25em .5em;
}
}
}

.top-right {
    font-size:small;
    position:fixed;
    right:1em;
    top:1em;
}