.right {
  width: 50px;
  border-radius: 10px;
  float: right;
}
p.headline {
  font-weight: bold;
  float: right;
  margin-right: 420px;
  margin-top: 10px
}
.sensor {
  width: 70px;
  border-radius: 20px;
  position: fixed;
  left: 1200px;
  top: 825px;
}

html,
body {
  height: 100%;
  background: #f2f2f2f2;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow: hidden;
}

.column {
  float: left;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

iframe {
  width: 100%;
  height: 725px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/desktopview.jpg);
  background-size: cover;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
}

nav p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(55, 70, 250);
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}
nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(177, 77, 7);
  font-size: 15px;
  padding: 22px 15px;
  text-decoration: none;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 7px;
}
nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 145px;
}
nav ul li ul li a {
  padding: 8px 7px;
}

nav ul li ul li a:hover {
  background-color: #e8e9e7;
}

/* Popup modal*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
/* Popup modal*/

/* White info window*/

.main {
  vertical-align: top;
  height: 100%;
}

.window {
  float: left;
  vertical-align: top;
  width: 80%;
  margin-right: 20%;
}

.sidebar {
  float:right;
  height: 100%;
  width: 20%;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 40px;
  background-color: white;
}

.sidebar .information_content {
  background: white ; 
  height: 560px;
  background: white; 
  overflow:auto ; 
  font-size: small
}

.sidebar .clear_button {
  width: 100%;
  height: 30px;
}
/*White info window*/